# Flutter & Dart
.dart_tool/
.packages
.pub/
.pub-cache/
flutter_*.png
build/
coverage/
*.lock

# Contains the Google API key
.env
android/key.properties
key.properties


# IDEs
.idea/
*.iml
*.ipr
*.iws

# VS Code settings (optional - remove comment to ignore these too)
.vscode/

# macOS
.DS_Store

# Logs and temp files
*.log
*.class
*.pyc
*.swp
.history
.buildlog/
migrate_working_dir/

# iOS & Android
**/ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties

# Obfuscation / symbolication
app.*.symbols
app.*.map.json

# Generated documentation
doc/api/

# Swift PM
.swiftpm/

# SVN (if somehow present)
.svn/
